hr {
  border-top: 3px solid black;
}

.client-table{
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 40px;
  float: left;
  width: 900px;
}

table,th,td{
  border: 1px solid black;
  height: 40px;
}

table{
  width: 100%;
}

thead{
  background-color: rgb(135, 255, 135);
  text-align: center;
}

tbody tr{
  text-align: center;
}

tbody tr:hover{
  background-color: #ffffff;
  color: purple;
}
