<div class="client-table">
  <h2><b>List of Clients</b></h2>
  <hr>
  <div class="table-list">
    <table border=2>
    <thead>
      <tr>
        <th style="width: 50px;">Sl.No</th>
        <th style="width: 200px;">Name</th>
        <th style="width: 350px;">Email</th>
        <th style="width: 200px;">Address</th>
        <th style="width: 100px;">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Alen</td>
        <td>alen123&#64;gmail.com</td>
        <td>Bangalore</td>
        <td style="text-align: center;"><button type="submit" class="btn btn-outline-danger">Delete</button></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Abishek</td>
      <td>abhi453&#64;gmail.com</td>
      <td>Hyderabad</td>
      <td style="text-align: center;"><button type="submit" class="btn btn-outline-danger">Delete</button></td>
  </tr>
    </tbody>
    </table>
  </div>
</div>
